In [25]:
#import libraries
import pandas as pd
import gmaps

# Access maps with unique API key
gmaps.configure(api_key='$$$$')

In [26]:
#import, read & create initial data frame
csv_path = "stadiums_nfl.csv"
df = pd.read_csv(csv_path, sep=';')

#show column headers
df.columns

Index(['Geo Point', 'Geo Shape', 'SECTOR', 'SUBSECTOR', 'PRIMARY_TY',
       'SEC_CLASS', 'DATE_CREAT', 'DATE_MODIF', 'COMP_AFFIL', 'NAME', 'NAME2',
       'NAME3', 'ADDRESS1', 'ADDRESS2', 'PO_BOX', 'PO_ZIP', 'CITY', 'STATE',
       'ZIP', 'ZIP_4', 'COUNTY', 'HSIP_AOI', 'FEMA_REGIO', 'LATITUDE',
       'LONGITUDE', 'RELIABILIT', 'COORSOURCE', 'COMMENTS_1', 'CONFERENCE',
       'DIVISION', 'CAPACITY', 'ROOF_TYPE', 'TEAM,,,,'],
      dtype='object')

In [27]:
#import, read & create initial data frame
csv_path = "team_arrests.csv"
arrests_df = pd.read_csv(csv_path)
arrests_df.head()

                     TEAM  CRIME
0     Philadelphia Eagles     20
1    San Diego Chargers",     27
2     Carolina Panthers",     24
3  Jacksonville Jaguars",     37
4          Chicago Bers",     32

In [28]:
#create a new DF for team location
team_location_df = df.loc[:,['TEAM,,,,','LATITUDE','LONGITUDE']]
team_location_df.rename(columns = {'TEAM,,,,' : 'TEAM'}, inplace=True)
team_location_df.head()

                     TEAM  LATITUDE  LONGITUDE
0     Philadelphia Eagles  39.90147  -75.16729
1    San Diego Chargers",  32.78322 -117.11976
2     Carolina Panthers",  35.22584  -80.85331
3  Jacksonville Jaguars",  30.32387  -81.63690
4          Chicago Bers",  41.86250  -87.61677

In [29]:
#merge the 2 data frames
combined_df = pd.merge(team_location_df,arrests_df,on="TEAM")
combined_df.head()

                     TEAM  LATITUDE  LONGITUDE  CRIME
0     Philadelphia Eagles  39.90147  -75.16729     20
1    San Diego Chargers",  32.78322 -117.11976     27
2     Carolina Panthers",  35.22584  -80.85331     24
3  Jacksonville Jaguars",  30.32387  -81.63690     37
4          Chicago Bers",  41.86250  -87.61677     32

In [30]:
#set the location & weight values
locations = combined_df[['LATITUDE', 'LONGITUDE']]
weights = combined_df['CRIME']

#create the gmap figure
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights, max_intensity=10))
fig

Figure(layout=FigureLayout(height='420px'))